body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #323232;
}
h1 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    color: #323232;
}
h2 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #323232;
}
p {
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 27px;
    color: #323232;
}
input {
    all: unset;
}
button {
    all: unset;
}

.container {
    padding: 0 10%;
    position: relative;
}

.raw-1 {
    text-align: center;
    margin-bottom: 100px;
}
.raw-1 h1 {
    margin-bottom: 50px;
}
.infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info {
    width: 250px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.header h1 {
    width: 40%;
}
.header p {
    width: 25%;
}
.cards {
    display: flex;
    justify-content: center;
    grid-column-gap: 30px;
    flex-wrap: wrap;
}
.page {
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, .1);
}
.page p {
    margin: 20px 0;
    font-size: 17px;
}
.page:first-child .country {
    color: #F78434;
}
.country {
    margin: 5px 0 !important;
    color: #58BEBF;
}
footer {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    display: flex;
}
.soc-icons {
    display: flex;
    grid-column-gap: 30px;
}
.footer-col-2 {
    display: flex;
    grid-column-gap: 40px;
    flex-wrap: wrap;
}
footer p {
    margin: 20px 0;
}
footer li {
    margin: 20px 0;
    text-align: start;
}
