body {
    margin: 0;
    padding: 0;
}
label {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px
}
li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}
.logo {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    grid-column-gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    color: #323232;
}
.nav-menu li:first-child {
    color: #F78434;
}
.nav-menu li {
    border-bottom: 1px solid transparent;
    transition: .3s;
}
.nav-menu li:hover {
    border-bottom: 1px solid #323232;
    cursor: pointer;
}
.nav-menu li:first-child:hover {
    border-bottom: 1px solid #F78434;
}