* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  color: #323232;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Navigation*/

.nav {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.logo img {
  margin-right: 15px;
}

.navigation ul {
  display: flex;
}

.navigation li:not(:last-child) {
  margin-right: 42px;
}

.navigation a:hover {
  color: #f78434;
}

.navigation a.active {
  color: #f78434;
  font-weight: 700;
}

/*Header*/

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  width: 465px;
}

.header-title {
  width: 500px;
  position: relative;
  z-index: 9;
  margin-right: -150px;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 00;
  line-height: 1.46;
}

.header-text p {
  font-size: 16px;
  line-height: 1.687;
  margin-bottom: 1em;
}

.header-form {
  background: #fff;
  box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  transition: box-shadow 0.2s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}

.header-form:active {
  box-shadow: 0 17px 42px rgba(247, 132, 52, 0.27);
}

.form-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 72px;
}

.form-label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/email.svg");
  background-size: initial;
}

.form-button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s easy-in;
}

.form-button:hover {
  background-color: #ff6a00;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: #bbb;
}

.header-img img {
  border-radius: 40px 40px 40px 0;
}

/*Partners*/

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.partners {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container2 {
  position: relative;
  max-width: 1439px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
}

.title-1 {
  position: absolute;
  width: 450px;
  height: 124px;
  left: 901px;
  top: 68px;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.p1 {
  position: absolute;
  width: 400px;
  height: 81px;
  left: 901px;
  top: 212px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.p2 {
  position: absolute;
  width: 374px;
  height: 84px;
  left: 901px;
  top: 340px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.img2 {
  position: absolute;
  width: 385.2px;
  height: 550px;
  left: -83px;
  top: 0px;
}

.img1 {
  z-index: 1;
  position: absolute;
  width: 600px;
  height: 500px;
  left: 165px;
  top: 0px;
}

.Rectangle {
  position: absolute;
  z-index: 2;
  height: 120px;
  width: 300px;
  left: 490px;
  top: 420px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.Rectangle {
  position: relative;
}

.lakes {
  position: absolute;
  width: 160px;
  height: 24px;
  left: 31.33%;
  right: 16.33%;
  top: calc(50% - 24px / 2 - 26.5px);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.people {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  left: 31.33%;
  right: 9.67%;
  top: 39.01%;
  bottom: 22.7%;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.img-Rectangle {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 29px;
  top: 26px;
  border-radius: 0px;
}

.button2 {
  position: absolute;
  height: 58px;
  width: 172px;
  left: 901px;
  top: 434px;
  border-radius: 29px;
  background: #f78434;
  border-radius: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.button2:hover {
  background-color: #ff6a00;
}

.container3 {
  z-index: 2;
  position: relative;
  max-width: 1110px;
  height: 464px;
  top: 146px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
}

.back-d {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #4f89f5;
  border-radius: 20px;
  overflow: hidden;
}

.h1-in-container3 {
  position: absolute;
  height: 124px;
  width: 400px;
  left: 58.65%;
  right: 10.54%;
  top: calc(50% - 124px / 2 - 78px);
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.p-in-container3 {
  position: absolute;
  width: 350px;
  left: 58.65%;
  right: 10.54%;
  top: 49.78%;
  bottom: 38.58%;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #ffffff;
}

.Rectangle-in-container3 {
  z-index: 2;
  position: absolute;
  height: 475px;
  width: 802px;
  left: -247px;
  top: 59px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 21.6px;
}

.Rectangle-in-container3 {
  position: relative;
  overflow: hidden;
}

.img-in-container3 {
  position: absolute;
  height: 410px;
  width: 555px;
  top: 0px;
  right: 0px;
}

.button1-in-container3 {
  position: absolute;
  height: 58px;
  width: 172px;
  left: 640px;
  top: 345px;
  background: #2a5db1;
  border-radius: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.button1-in-container3:hover {
  background-color: #167fa8;
}

.button2-in-container3 {
  position: absolute;
  height: 58px;
  width: 172px;
  left: 843px;
  top: 345px;
  border-radius: 29px;
  background: #ffffff;
  border-radius: 29px;
}

.Icon {
  position: absolute;
  left: 30px;
  right: 68.6%;
  top: 41.38%;
  bottom: 37.93%;
}

.name-button2-in-container3 {
  position: absolute;
  height: 24px;
  left: 40px;
  top: calc(50% - 24px / 2 + 1px);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.button1-in-container3:hover {
  background-color: #1620db;
}

.button2-in-container3:hover {
  color: #3fabad;
}

.oval {
  z-index: 1;
  position: absolute;
  left: -100px;
  top: 363px;
  width: 304px;
  height: 304px;
  background: linear-gradient(223.68deg,
      rgba(255, 255, 255, 0.0001) 29.68%,
      rgba(255, 255, 255, 0.502759) 99.43%);
  transform: rotate(180deg);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 150px;
}


.container5 {
  position: relative;
  width: 1440px;
  height: 709px;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
}

.title-container5 {
  position: absolute;
  height: 62px;
  left: 421px;
  top: 295px;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.8px;
}

.container1-5 {
  position: absolute;
  height: 183px;
  width: 248px;
  left: 165px;
  top: 415px;
  border-radius: 0px;
}

.Icon1-5 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 89px;
  top: 0px;
}

.title1-container5 {
  position: absolute;
  height: 42px;
  left: 10.69%;
  right: 11.09%;
  top: calc(50% - 42px / 2 + 14.5px);
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
}

.p1-container5 {
  position: absolute;
  height: 54px;
  left: 0%;
  right: 0%;
  top: calc(50% - 54px / 2 + 64.5px);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
}

.container2-5 {
  position: absolute;
  height: 183px;
  width: 261px;
  left: 448px;
  top: 415px;
  border-radius: 0px;
}

.Icon2-5 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 95.5px;
  top: 0px;
}

.title2-container5 {
  position: absolute;
  height: 42px;
  left: 0%;
  right: 0.38%;
  top: calc(50% - 42px / 2 + 14.5px);
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
}

.p2-container5 {
  position: absolute;
  height: 54px;
  left: 2.49%;
  right: 2.49%;
  top: calc(50% - 54px / 2 + 64.5px);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
}

.container3-5 {
  position: absolute;
  left: 51.67%;
  right: 31.11%;
  top: 58.53%;
  bottom: 15.66%;
}

.Icon3-5 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 89px;
  top: 0px;
}

.title3-container5 {
  position: absolute;
  height: 42px;
  left: 12.5%;
  right: 12.5%;
  top: calc(50% - 42px / 2 + 14.5px);
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
}

.p3-container5 {
  position: absolute;
  height: 54px;
  left: 0%;
  right: 0%;
  top: calc(50% - 54px / 2 + 64.5px);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
}

.container4-5 {
  position: absolute;
  left: 71.32%;
  right: 11.46%;
  top: 58.53%;
  bottom: 15.66%;
}

.Icon4-5 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 89px;
  top: 0px;
}

.title4-container5 {
  position: absolute;
  height: 42px;
  left: 22.58%;
  right: 22.18%;
  top: calc(50% - 42px / 2 + 14.5px);
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
}

.p4-container5 {
  position: absolute;
  height: 54px;
  left: 0%;
  right: 0%;
  top: calc(50% - 54px / 2 + 64.5px);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
}


.container7 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 547px;
  left: 0px;
  top: -50px;
  overflow: hidden;
}

.oval6 {
  z-index: 1;
  position: absolute;
  left: 619px;
  right: -46.18%;
  top: 176px;
  bottom: -68.01%;
  height: 743px;
  width: 743px;
  border-radius: 50%;
  background: linear-gradient(223.68deg,
      rgba(255, 255, 255, 0.0001) 29.68%,
      rgba(255, 255, 255, 0.502759) 99.43%);
  transform: rotate(90deg);
}

.title-container7 {
  z-index: 1;
  position: absolute;
  height: 124px;
  left: 11.46%;
  right: 63.61%;
  top: calc(50% - 124px / 2 - 0.5px);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.butt-container7 {
  z-index: 1;
  position: absolute;
  height: 58px;
  width: 172px;
  left: 165px;
  top: 434px;
  border-radius: 0px;
  background: #ffffff;
  border-radius: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.butt-container7:hover {
  background-color: #3291b6;
}

.footer-container8 {
  position: absolute;
  width: 1440px;
  height: 375px;
  right: 0px;
  left: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 3270px;
}

.rec-container8 {
  position: absolute;
  height: 375px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.About {
  z-index: 1;
  position: absolute;
  width: 306px;
  height: 173px;
  left: 159px;
  top: 86px;
  background-color: #fff;
}

.logo-container8 {
  position: absolute;
  left: 160px;
  top: 87px;
  border-radius: 0px;
}

.title-logo-container8 {
  position: absolute;
  height: 36px;
  left: 200px;
  top: 82px;
  font-weight: 700;
  font-size: 24px;
  line-height: -136px;
}

.p-container8 {
  position: absolute;
  width: 300px;
  height: 54px;
  left: 165px;
  top: 145px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.Facebook {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 165px;
  top: 239px;
}

.Twitter {
  position: absolute;
  width: 24.46px;
  height: 19.92px;
  left: 215px;
  top: 239px;
}

.Youtube {
  position: absolute;
  width: 28.52px;
  height: 19.97px;
  left: 270px;
  top: 239px;
}

.Linkedin {
  position: absolute;
  width: 20.9px;
  height: 19.97px;
  left: 328px;
  top: 239px;
}

li {
  margin-bottom: 13px;
  /* Расстояние снизу */
}

.title-ul1 {
  position: absolute;
  height: 32px;
  left: 689px;
  top: 96px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.list-uns1 {
  position: absolute;
  width: 143px;
  height: 147px;
  left: 689px;
  top: 146px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.title-ul2 {
  position: absolute;
  height: 32px;
  left: 921px;
  top: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.list-uns2 {
  position: absolute;
  width: 143px;
  height: 147px;
  left: 921px;
  top: 146px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.title-ul3 {
  position: absolute;
  height: 32px;
  left: 1142px;
  top: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.list-uns3 {
  position: absolute;
  width: 143px;
  height: 147px;
  left: 1142px;
  top: 146px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.navigation8 a:hover {
  color: #f78434;
}



.rec-container7 {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 547px;
  left: 0px;
  top: -270px;
  background-color: #4d9fd1;
  clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
}

.women6 {
  z-index: 2;
  position: absolute;
  width: 850px;
  height: 533px;
  left: 450px;
  top: 16px;

  background: url(.png);
}

.title-container76 {
  z-index: 1;
  position: absolute;
  width: 680px;
  height: 124px;
  left: 2%;
  right: 63.61%;
  top: calc(50% - 124px / 2 - 0.5px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;

  letter-spacing: 0.8px;

  color: #ffffff;
}

.pac {
  z-index: 3;
  position: absolute;
  left: 15px;
  right: 75.35%;
  top: 349px;
  bottom: 5.12%;
}

.pac2 {
  z-index: 4;
  position: absolute;
  left: 0px;
  right: 82.5%;
  top: 282px;
  bottom: -7.13%;
}

.p-container7 {
  z-index: 1;
  position: absolute;
  width: 600px;
  left: 2.46%;
  right: 64.79%;
  top: 63.99%;
  bottom: 26.14%;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #ffffff;
}
